body
{
	text-align: center;
}
table
{
	border-collapse: collapse;
	text-align: center;
	border: medium solid black;
	table-layout: auto;
	margin: auto;

}
td
{
	border: 3px solid black;
	padding: 5px 10px 5px 10px;
}
